body {
	background-color: #000;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

@font-face {
	font-family: Hadrian;
    src: url(fonts/hadrian-bold.ttf);
}

@font-face {
	font-family: TradeGothic;
	src: url(fonts/trade-gothic.ttf);
}

/*@font-face {
	font-family: TradeGothicBold;
	src: url(fonts/trade-gothic-bold-2.ttf);
}*/

@font-face {
	font-family: TradeGothicCondensed;
	src: url(fonts/trade-gothic-condensed-18.ttf);
}

marquee {
	margin-top: 80px;
	background-color: #000;
	color: #000;
	height: 40%;
}

marquee img {
	height: 275px;
}

.logo {
	width: 80%;
	margin: 15px auto;
	display: block;
	text-align: center;
}

.menu-button {
	color: white;
	position: absolute;
	top: 25px;
	right: 25px;
	opacity: 0.52;
	z-index: 2;
}

.menu-button img {
	width: 35px;
	height: 15px;
	margin: 0 auto;
}

.menu-button p {
	font-size: 8pt;
	font-family: TradeGothic, sans-serif;
	letter-spacing: 1px;
	margin-top: 1px;
	text-align: center;
}

.menu-navbar {
	z-index: 1;
	display: inline-block;
	width: 100%;
	/*-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);*/
	position: absolute;
	top: 0;
	background-color: rgba(255, 230, 230, 0.52);
	text-align: center;
}

.menu-navbar ul {
    text-align: center;
    min-width: 100px;
    margin: 0 auto;
}

.menu-navbar ul :after {
	content: none;
	width: 100%;
    display: inline-block;
}

.menu-navbar ul li {
	margin: 0 auto;
	color: white;
	display: inline-block;
	font-family: Hadrian, sans-serif;
	font-size: 40px;
	z-index: 1;
	padding: 10px 30px;
}

.home-button {
	padding: 10px;
	background-color: #000;
	position: absolute;
	bottom: 40px;
	right: 25px;
}

.home-button img {
	width: 200px;
	margin: 0 auto;
}

/** PAGE TITLE **/

.title-box {
	opacity: 0.52;
	position: absolute;
	top: 10px;
	left: 10px;
}

.title-box .page-title {
	position: absolute;
	left: 4em;
	right: 0;
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-moz-transform: rotate(-90deg);   /* Firefox */
	-ms-transform: rotate(-90deg);   /* IE 9 */
	transform: rotate(-90deg);
}

.title-box .page-title h1 {
	color: #ffeeee;
	font-size: 128px;
	font-family: Hadrian;
	text-align: right;
	margin: 0;
}

.about .title-box .page-title {
	top: 115px;
}

.archives .title-box .page-title {
	top: 230px;
}

.current .title-box .page-title {
	width: 500px;
	top: 195px;
	left: -190px;
}

.current .title-box .page-title h1 {
	font-size: 116px;
}

.contact .title-box .page-title {
	top: 175px;
}

.submissions .title-box .page-title {
	top: 330px;
}

.submissions .title-box .page-title h1 {
	font-size: 116px;
}

/** LINES **/

.line {
	background-color: #ffeeee;
	opacity: 0.52;
	position: absolute;
}

.line-vertical {
	width: 3px;
}

.line-horizontal {
	height: 3px;
}

.menu-line {
	width: 3px;
	right: 40px;
	top: 80px;
	bottom: 130px;
}

.main .line-vertical {
	left: 50px;
	top: 0px;
}

.main .line-horizontal {
	bottom: 50px;
}

.about .line-vertical {
	right: 280px;
	top: 0px;
	bottom: 0px;
}

.about .line-horizontal-1{
	right: 0;
	left: 150px;
	top: 130px;
}

.about .line-horizontal-2 {
	left: 0;
	bottom: 70px;
	width: 85%;
}

.current .line-horizontal-1 {
	top: 70px;
	right: 0;
	width: 85%;
}

.current .line-horizontal-2 {
	bottom: 70px;
	left: 0;
	width: 80%;
}

.archives .line-vertical {
	left: 240px;
	top: 0;
	bottom: 0;
}

.archives .line-horizontal {
	top: 240px;
	right: 0;
	left: 150px;
}

.contact .line-horizontal {
	top: 200px;
	right: 0;
	left: 550px;
}

.contact .line-vertical {
	left: 450px;
	top: 0;
	bottom: 440px;
}

.submissions .line-horizontal {
	right: 0;
	left: 150px;
	top: 230px;
}

.submissions .line-vertical {
	top: 0;
	bottom: 0;
	left: 270px;
}

/** CONTENT **/

.content p {
	color: #eed;
	font-family: TradeGothic, sans-serif;
	line-height: 3em;
	font-size: 14px;
}

.content li {
	color: #eed;
	font-family: TradeGothic, sans-serif;
	font-size: 14px;
	line-height: 3em;
}

.content h2, .content h4 {
	text-transform: uppercase;
	color: white;
	opacity: 0.5;
	font-family: TradeGothicCondensed, sans-serif;
	font-weight: 200;
}

.content h2 {
	font-size: 3em;
}

.content h4 {
	font-size: 1.5em;
	margin-bottom: 0;
}

.about .content {
	position: absolute;
	top: 200px;
	left: 200px;
	right: 350px;
}

.archives .content {
	position: absolute;
	top: 300px;
	left: 330px;
	right: 200px;
}

.contact .content {
	float: right;
	position: absolute;
	left: 550px;
	right: 100px;
	top: 90px;
}

.submissions .content {
	position: absolute;
	top: 120px;
	left: 330px;
	right: 150px;
}


/** CAROUSEL **/

.current .slideshow {
	position: absolute;
	height: 450px;
	top: 50%;
	left: 50%;
	margin: -225px 0 0 -30%;
}
  
.current .slideshow div {
	margin: 0 auto;
	height: 100%;
	display: inline-block;
}

.current .slideshow .slide img {
	height: 100%;
}

.current .slideshow .arrow {
	margin-top: 150px;
	height: 50px;
}

.current .slideshow .arrow img {
	height: 50px;
	width: 25px;
	margin: 10px;
	opacity: 0.52;
}

.current .slideshow .arrow img :hover {
	opacity: 0.75;
}

.current .slideshow .arrow-left {
	float: left;
}

.current .slideshow .arrow-right {
	float: right;
}

/* TODO: maybe the image could 
instead be part of the 
vertical-line div it is
attached to? */

/** IMAGES **/

.about .aligned-right {
	position: absolute;
	width: 280px;
	right: 0;
	top: 133px;
}

.archives .top {
	position: absolute;
	top: 0;
	left: 250px;
}

.archives .left {
	position: absolute;
	bottom: 0;
	left: 5px;
}

.archives .top img, .archives .left img {
	height: 220px;
	margin: 10px 5px;
}

.contact .left-col {
	width: 40%;
}

.contact .side-by-side {
	display: inline;
}

.contact .images {
	position: absolute;
	bottom: 0;
	left: 150px;
}

.contact .images img {
	height: 220px;
	display: block;
	margin: 12px;
}

.contact .web-team {
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-moz-transform: rotate(-90deg);   /* Firefox */
	-ms-transform: rotate(-90deg);   /* IE 9 */
	transform: rotate(-90deg);
	color: white;
	opacity: 0.75;
	font-family: sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	position: absolute;
	bottom: 175px;
	left: -20px;
}

.submissions .left {
	position: absolute;
	left: 0;
	bottom: 0;
}

.submissions .right {
	position: absolute;
	top: 0;
	right: 100px;
}

.submissions .left img, .submissions .right img {
	width: 250px;
	margin: 10px;
}
