body {
	background-color: #000;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

@font-face {
	font-family: Hadrian;
    src: url(fonts/hadrian-bold.ttf);
}

@font-face {
	font-family: TradeGothic;
	src: url(fonts/trade-gothic.ttf);
}

/*@font-face {
	font-family: TradeGothicBold;
	src: url(fonts/trade-gothic-bold-2.ttf);
}*/

@font-face {
	font-family: TradeGothicCondensed;
	src: url(fonts/trade-gothic-condensed-18.ttf);
}

.marquee {
	position: relative;
	margin-top: 80px;
	overflow: hidden;
	background-color: #000;
	color: #000;
	height: 275px;
	border: solid white 3px;
	width: 11400px;
}

.marquee span {
	width: 275px;
	display: inline;
}

.marquee img {
	height: 275px;
	white-space: nowrap;
	display: inline;
}

.logo {
	width: 80%;
	margin: 15px auto;
	display: block;
	text-align: center;
}

.menu-button {
	color: white;
	position: absolute;
	top: 25px;
	right: 25px;
	opacity: 0.52;
	z-index: 3;
}

.menu-button img {
	width: 35px;
	height: 15px;
	margin: 0 auto;
}

.menu-button p {
	font-size: 8pt;
	font-family: TradeGothic, sans-serif;
	letter-spacing: 1px;
	margin-top: 1px;
	text-align: center;
}

.menu-bar {
	display: none;
}

.menu-background {
	background-color: #fee;
	opacity: 0.25;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 90px;
	z-index: 1;
}

.menu-links {
	z-index: 2;
	display: block;
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
	position: absolute;
	top: 0;
	right: -100vh;
	width: 100vh;
}

.menu-links p {
	padding-left: 80px;
	padding-right: 40px;
	padding-top: 10px;
	text-align: justify;
	opacity: 0.75;
	color: #e7e0e0;
	font-family: Hadrian, sans-serif;
	font-size: 35px;
	margin: 10px auto;
}

.menu-links p:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.menu-links p span {
	display: inline-block;
}

.home-button {
	padding: 10px;
	background-color: #000;
	position: absolute;
	bottom: 40px;
	right: 25px;
}

.home-button img {
	width: 200px;
	margin: 0 auto;
}

/** PAGE TITLE **/

.title-box {
	opacity: 0.65;
	position: absolute;
	top: 10px;
	left: 10px;
}

.title-box .page-title {
	position: absolute;
	top: 195px;
	width: 500px;
	left: -185px;
	right: 0;
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-moz-transform: rotate(-90deg);   /* Firefox */
	-ms-transform: rotate(-90deg);   /* IE 9 */
	transform: rotate(-90deg);
}

.title-box .page-title h1 {
	color: #fee;
	font-size: 128px;
	font-family: Hadrian;
	text-align: right;
	margin: 0;
}

.current .title-box .page-title h1 {
	font-size: 116px;
}

.submissions .title-box .page-title h1 {
	font-size: 116px;
}

/** LINES **/

.line {
	background-color: #ffeeee;
	opacity: 0.40;
	position: absolute;
}

.line-vertical {
	width: 3px;
}

.line-horizontal {
	height: 3px;
}

.menu-line {
	width: 3px;
	right: 40px;
	top: 80px;
	bottom: 130px;
}

.main .line-vertical {
	left: 50px;
	top: 0px;
}

.main .line-horizontal {
	bottom: 50px;
}

.about .line-vertical {
	right: 280px;
	top: 0px;
	bottom: 0px;
}

.about .line-horizontal-1{
	right: 0;
	left: 170px;
	top: 130px;
}

.about .line-horizontal-2 {
	left: 0;
	bottom: 70px;
	width: 85%;
}

.about .line-horizontal-3 {
	position: relative;
	width: 100%;
	margin-top: -4px;
}

.current .line-horizontal-1 {
	top: 70px;
	right: 0;
	width: 85%;
}

.current .line-horizontal-2 {
	bottom: 70px;
	left: 0;
	width: 80%;
}

.archives .line-vertical {
	left: 270px;
	top: 0;
	bottom: 0;
}

.archives .line-horizontal {
	top: 270px;
	right: 0;
	left: 150px;
}

.contact .line-horizontal {
	top: 200px;
	right: 0;
	left: 530px;
}

.contact .line-vertical {
	left: 450px;
	top: 0;
	bottom: 465px;
}

.submissions .line-horizontal {
	right: 0;
	left: 150px;
	top: 230px;
}

.submissions .line-vertical {
	top: 0;
	bottom: 0;
	left: 270px;
}

/** CONTENT **/

.content {
	position: absolute;
}

.content p, .content li {
	color: #fee;
	opacity: 0.75;
	font-family: TradeGothic, sans-serif;
	line-height: 3em;
	font-size: 14px;
	text-align: justify;
}

.content h2, .content h4 {
	text-transform: uppercase;
	color: white;
	opacity: 0.5;
	font-family: TradeGothicCondensed, sans-serif;
	font-weight: 200;
}

.content ul {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

.content br {
	line-height: 0.5em;
}

.content h2 {
	font-size: 3em;
}

.content h4 {
	font-size: 1.5em;
	margin-bottom: 0;
}

.about .content {
	top: 170px;
	left: 170px;
	right: 350px;
}

.archives .content {
	top: 310px;
	left: 350px;
	right: 200px;
}

.contact .content {
	float: right;
	left: 530px;
	right: 110px;
	top: 40px;
}

.current .content {
	bottom: 0px;
	left: 25px;
	right: 300px;
}

.submissions .content {
	top: 95px;
	left: 330px;
	right: 150px;
}


/** CAROUSEL **/

.current .slideshow {
	position: absolute;
	top: 110px;
	bottom: 110px;
	left: 50%;
	margin: 0 0 0 -30%;
}
  
.current .slideshow div {
	margin: 0 auto;
	height: 100%;
	display: inline-block;
}

.current .slideshow .slide img {
	height: 100%;
}

.current .slideshow .arrow {
	margin-top: 200px;
	height: 50px;
}

.current .slideshow .arrow a :hover {
	opacity: 0.80;
}

.current .slideshow .arrow img {
	height: 50px;
	width: 25px;
	margin: 10px;
	opacity: 0.52;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.current .slideshow .arrow-left {
	float: left;
}

.current .slideshow .arrow-right {
	float: right;
}

/** IMAGES **/

.about .aligned-right {
	position: absolute;
	right: 0;
	top: 133px;
}

.about .aligned-right img {
	width: 280px;
}

.archives .top {
	position: absolute;
	top: 0;
	left: 280px;
}

.archives .left {
	position: absolute;
	bottom: 0;
	left: 5px;
}

.archives .top img, .archives .left img {
	height: 250px;
	margin: 10px 5px;
}

.contact .left-col {
	width: 40%;
}

.contact .side-by-side {
	display: inline;
}

.contact .images {
	position: absolute;
	bottom: 0;
	left: 150px;
}

.contact .images img {
	height: 220px;
	display: block;
	margin: 12px;
}

.contact .web-team {
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-moz-transform: rotate(-90deg);   /* Firefox */
	-ms-transform: rotate(-90deg);   /* IE 9 */
	transform: rotate(-90deg);
	color: white;
	opacity: 0.75;
	font-family: sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	position: absolute;
	bottom: 175px;
	left: -20px;
}

.submissions .left {
	position: absolute;
	left: 0;
	bottom: 0;
}

.submissions .right {
	position: absolute;
	top: 0;
	right: 100px;
}

.submissions .left img, .submissions .right img {
	width: 250px;
	margin: 10px;
}
